[Unit]
Description=Raspberry pi led light monitoring.

[Service]
Type=simple
After=network-online.target
Wants=network-online.target
ExecStart=/bin/bash -c "node /home/pi/workspace/lights/server/build/server/src/index.js"

[Install]
WantedBy=multi-user.target
